<div class="stil-colectii">
<mat-card class="example-card stil" *ngFor="let colectie of colectii | filterCollectionsToggle: showPrivate : filterSweets">
  <mat-card-title style="color: brown;">{{colectie.titlu_Colectie}}</mat-card-title>
  <mat-card-subtitle>Descriere</mat-card-subtitle>
  <mat-card-content>
    <h6>{{colectie.descriere_Colectie}}</h6>
    <h6>Publica: {{colectie.publica}}</h6>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="btn btn-danger" (click)="deleteColectie(colectie.titlu_Colectie)">Sterge</button>
  </mat-card-actions>
</mat-card>
</div>
